*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    background-color: #f3f3f3;
}
.containerprs{
    width: 80%;
    background-color: #fff;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.containerprs > .dp{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.containerprs > .fullName{
    color: #242424;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0 !important;
    margin: 0 !important;
}
.containerprs > .username{
    color: #848484;
    font-weight: 600;
    font-size: 12px;
    padding: 0 !important;
    margin: 0 !important;
}
.containerprs > .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    padding: 0 !important;
    margin: 0 !important;
}
.blue_btn{
    background-color: #f30d19;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.blue_btn:hover{
    background-color: #df0812;
}